.editor-panel button{
    outline: none;
    height: 40px;
    font-size: 14px;
    color: #6C757D;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 8px;
    border: 1px solid #aaa;
  }
  .editor-panel .filter button{
    width: calc(100% / 2 - 4px);
  }
  .editor-panel button:hover{
    background: #f5f5f5;
  }

  .editor-panel .rotate{
    margin-top: 17px;
  }
  .editor-panel .rotate button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 3px);
  }